body {
	background-color: #ffffff;
	color: #222222;
}

.header {
	text-align: center;
	font-size: 50px;
	font-family: Aclonica;
	margin: 0 0 0 0;
	color: #8fb5d8;
}

.menubar {
	margin: 0 0 0 0;
	background-color: #8fb5d8;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	text-align: center;
}

.menuitem {
	margin-left: 2%;
	margin-right: 1%;
	font-family: Arial;
	font-size: 20px;
	color: #ffffff;
	display: inline;
}
